body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
}

.theme-switcher {
    margin-bottom: 20px;
}

button {
    margin: 5px;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: minmax(120px, auto) repeat(5, 80px);
    gap: 10px;
}

.display {
    grid-column: span 4;
    background-color: var(--display-bg-color);
    color: var(--display-text-color);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    font-size: 2em;
    word-wrap: break-word;
    word-break: break-all;
}

.button {
    background-color: var(--button-bg-color);
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    transition: background-color 0.2s;
}

.button:active {
    background-color: var(--button-active-bg-color);
}

#equals {
    grid-column: span 2;
    background-color: var(--equals-bg-color);
    color: var(--equals-text-color);
}

#clear {
    background-color: var(--clear-bg-color);
    color: var(--clear-text-color);
}

/* Light Theme */
body.light-theme {
    --bg-color: #f0f0f0;
    --text-color: #000;
    --display-bg-color: #fff;
    --display-text-color: #000;
    --button-bg-color: #e0e0e0;
    --button-active-bg-color: #d0d0d0;
    --equals-bg-color: #f08a24;
    --equals-text-color: #fff;
    --clear-bg-color: #ff3b30;
    --clear-text-color: #fff;
}

/* Dark Theme */
body.dark-theme {
    --bg-color: #121212;
    --text-color: #fff;
    --display-bg-color: #222;
    --display-text-color: #fff;
    --button-bg-color: #333;
    --button-active-bg-color: #444;
    --equals-bg-color: #f08a24;
    --equals-text-color: #fff;
    --clear-bg-color: #ff3b30;
    --clear-text-color: #fff;
}
